<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    {% block metadescr %}{% endblock metadescr %}
    <title>{% block title %}{% endblock title %}</title>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">DemoApp</h3>
      </div>
      {% block content %}{% endblock content %}
    </div> <!-- container -->

    <div class="footer">
        <div class="container">
          {% block footer %}{% endblock footer %}
          {% include "footer.html" %}
        </div>
    </div>

{% block scripts %}{% endblock scripts %}
  </body>
</html>
